.wrapper{
  background: none;
  border: none;
  display: grid;
}

.wrapper::after {
  content: attr(data-replicated-value) " ";
  white-space: pre-wrap;
  visibility: hidden;
}

.wrapper > .input {
  resize: none;
  overflow: hidden;
}

.wrapper > .input, .wrapper::after {
  border: 1px solid black;
  padding: 0.5rem;
  font: inherit;

  grid-area: 1 / 1 / 2 / 2;
}

.input{
  width: 100%;
  border-radius: 4px;
  font-size: 13px;
  padding: 5px;
  resize: vertical;
  outline: none;
  &::placeholder{
    color: rgb(47, 49, 50);
  }
}
