.wrapper{
  background: none;
  border: none;
}

.input{
  width: 100%;
  border-radius: 4px;
  font-size: 13px;
  padding: 5px;
  resize: vertical;
  outline: none;
  &::placeholder{
    color: rgb(47, 49, 50);
  }
}
